*{
    background-color: orange;
    justify-content: center;
    text-align: center;
    font-size: 50px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.button{
    background-color: black;
    color: wheat;
    cursor: pointer;
}
.button:hover{
    background: #009688;
    color: #fff;
    transform: translateY(-7px);
}